<!DOCTYPE html>
<html lang="ru">

<head>
  {{>head}}
</head>

<body>

  <h1>Products</h1>
  <br>

  <div class="product" border="0">
    {{#each entitysData as |entity index| }}
    <div class="product-item">
      <div class="table-row table-row-name">{{index}}</div>

      123

    </div>
    {{/each}}
  </div>
 
</body>

<script src="static/js/common.js"></script>

</html>